<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project.product.repository.ObjectMappers">
	<select id="findAllObjects"
		resultType="com.example.project.product.dto.FirstGreenDto">
		SELECT
		p.product_id,
		p.name,
		p.prices,
		p.mileage,
		MIN(pi.P_IMAGE) AS image
		FROM product p
		LEFT JOIN PRODUCT_IMAGE pi ON
		p.PRODUCT_ID =
		pi.P_ID
		WHERE p.classification = '녹색 제품'
		GROUP BY
		p.product_id, p.name,
		p.prices, p.mileage
		ORDER BY p.product_id
	</select>

	<select id="findAllEnergy"
		resultType="com.example.project.product.dto.FirstEnergyDto">
		SELECT
		p.product_id,
		p.name,
		p.prices,
		p.mileage,
		p.make_date,
		p.category,
		MIN(pi.P_IMAGE) AS image
		FROM product p
		LEFT JOIN
		PRODUCT_IMAGE pi ON p.PRODUCT_ID =
		pi.P_ID
		WHERE p.classification = '에너지 1등급 제품'
		GROUP BY p.product_id,
		p.name, p.prices, p.mileage, p.make_date,
		p.category
		ORDER BY
		p.product_id
	</select>


	<select id="findId"
		resultType="com.example.project.product.dto.GreenObjectDto">
		SELECT *
		FROM (
		SELECT
		p.product_id,
		p.name,
		p.prices,
		p.mileage,
		p.make_date,
		p.authentication_period,
		p.MADE_IN AS madeIn,
		p.KC AS kc,
		p.registration_num,
		p.classification,
		p.COMPANY AS company,
		pi.P_IMAGE AS image
		FROM PRODUCT p
		LEFT JOIN PRODUCT_IMAGE pi ON
		p.PRODUCT_ID = pi.P_ID
		WHERE p.PRODUCT_ID = #{productId}
		)
		WHERE ROWNUM =
		1
	</select>

	<select id="findImagesByProductId" resultType="string">
		SELECT P_IMAGE
		FROM PRODUCT_IMAGE
		WHERE P_ID = #{productId}
	</select>
</mapper>